In [1]:
import pandas as pd

bios=oly_data=pd.read_excel('./data/olympics-data.xlsx',)
coffee=pd.read_csv('./warmup-data/coffee.csv')

In [10]:
bios['born_date']=pd.to_datetime(bios['born_date'])
# bios.groupby(bios['born_date'].dt.year)['name'].count().reset_index().sort_values('name',ascending=False)
bios['month_born']=bios['born_date'].dt.month
bios['year_born']=bios['born_date'].dt.year

bios.groupby([bios['year_born'],bios['month_born']])['name'].count().reset_index().sort_values('name',ascending=False) # multiple group by

      year_born  month_born  name
1437     1970.0         1.0   239
1461     1972.0         1.0   229
1629     1986.0         1.0   227
1497     1975.0         1.0   227
1617     1985.0         1.0   225
...         ...         ...   ...
95       1857.0         5.0     1
96       1857.0         7.0     1
97       1857.0         8.0     1
98       1857.0         9.0     1
1884     2009.0         1.0     1

[1885 rows x 3 columns]