In [18]:
import pandas as pd
results=oly_data=pd.read_excel('./data/olympics-data.xlsx',)

In [31]:
# results.loc[results['height_cm']>215] # filter and show all result
#  results.loc[results['height_cm']>215,['name']] # filter and show name only
# results[results['height_cm']>215][['name']] # filter and show name only
# results[(results['height_cm']>215)&(results['born_country']=="GER")] # add two filters
#string filter
# results[results['name'].str.contains("Keith")] # add string filter
# results[results['name'].str.contains("keith|patrick",case=False)] # add string filter
# results[results['name'].str.contains("keith|patrick",case=False,regex=False)] # no data will be found because we close the regex
# results[results['born_country'].isin(["USA"])] # isin like whereIn
# results[results['born_country'].isin(["USA"]) & (results['name'].str.startswith("Monique"))] # isin and str "and" contadion
# results.query('born_country=="USA" and born_city=="Seattle"') # another way of query

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
11030,11088,David Halpern,1955-08-18,Seattle,Washington,USA,United States,178.0,79.0,NaN
12800,12870,Todd Trewin,1958-04-20,Seattle,Washington,USA,United States,180.0,75.0,NaN
15476,15583,Scott McKinley,1968-10-15,Seattle,Washington,USA,United States,183.0,75.0,NaN
29079,29293,Joyce Tanac,1950-09-27,Seattle,Washington,USA,United States,156.0,49.0,NaN
31135,31371,Bill Kuhlemeier,1908-01-14,Seattle,Washington,USA,United States,NaN,NaN,2001-07-08
...,...,...,...,...,...,...,...,...,...,...
133392,136331,Hans Struzyna,1989-03-31,Seattle,Washington,USA,United States,188.0,91.0,NaN
135448,138662,Maude Davis Crossland,2003-03-19,Seattle,Washington,USA,Colombia,NaN,NaN,NaN
136993,140229,Jenell Berhorst,2003-12-13,Seattle,Washington,USA,United States,NaN,NaN,NaN
143507,147159,Nevin Harrison,2002-06-02,Seattle,Washington,USA,United States,175.0,73.0,NaN
145446,149169,Corinne Stoddard,2001-08-15,Seattle,Washington,USA,United States,NaN,NaN,NaN